/Lógica de programação essencial/Introdução à lógica e à programação/Entendendo o que é lógica/Exercicio Final 1/build/
/Lógica de programação essencial/Introdução à lógica e à programação/Entendendo o que é lógica/Exercicio Final 1/dist/
